server {
        listen 80 default_server;
        listen [::]:80 default_server;

        root {{ obsninja.site_root }};
        index index.html index.htm;

        server_name {{ obsninja.server_name }};

        location / {
                try_files $uri $uri/ =404;
        }
}
